/*-- scss:defaults --*/


$code-block-bg: #FCECE3;
$code-block-border-color: #000000;



.reveal .footer {
  font-size: 0.35em !important;
  text-align: right !important;
}


.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

.red {
  color: #c00000;
}

blockquote {
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-left: 5px solid #ccc;

  footer {
    text-align: right;
    margin-top: 0.5em;
  }
}

.peach-slide {
  background-color: #FCECE3 !important;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}